.squares{
	width: 30%;
	padding-top: 30%;
	background: purple;
	float:left;
	margin: 1.66%;
	border-radius: 30%;
	transition: background 1s;
}
body{
	background:#232323;
	margin: 0;
	font-family: "Montserrat";
}
#container{
	width:30%;
	margin:20px auto;
}
h1{
	color:white;
	text-align: center;
	background: steelblue;
	margin: 0;
	text-transform: uppercase;
	font-weight: normal;
	line-height: 1.1;
	padding:20px 0;
	letter-spacing: 1px;

}
#menu{
	height: 30px;
	text-align: center;
	background: white;
}
.selected{
	background-color: steelblue;
	color: white;
}
#rgb{
	font-size: 200%;
}
button{
	border:none;
	background:none;
	font-size:inherit;
	text-transform: uppercase;
	height: 100%;
	color:steelblue;
	font-weight: 700;
	transition: all 1.0s;
	letter-spacing: 1px;
	outline: none;
}
button:hover{
	color:white;
	background:steelblue;

}
#play{
	display: inline-block;
	width: 100px;
}